.countdown_outer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.countdown_inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown_container-time{
    font-size: 250%;
    padding: 10px;
    border: 1px solid black;
}
