.article-post_container{
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    padding: 40px 0 40px 0;
}

.article-post_article{
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    border: 1px solid black;
}

.article-post_section{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
    gap: 15px;
}

.article-post_ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.article-post_tag{
    background: black;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 90% 100%, 0 100%);
    padding: 1px;
}

.article-post_tags{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background: linear-gradient(to right, #ffcccc, #cc99ff);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 90% 100%, 0 100%);
}

.article-post_image-wrapper{
    flex: 0 1 auto;
    background: linear-gradient(to right, #ffcccc, #cc99ff);
}

.article-post_image{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

.article-post_heading-one{
    padding: 5px 0 5px 10px;
    background: linear-gradient(to right, #ffcccc, #cc99ff);
    border-bottom: 1px solid black;
}