.article_outer-container{
    border: 1px solid black;
    background: black;
    /*clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);*/
}

.article_inner-container{
    display: flex;
    flex-direction: column;
    background: white;
    /*clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);*/
}

.article_image-wrapper{
    flex: 0 1 auto;
}

.article_text-constrictor{
    display: flex;
    flex-direction: column;
    padding: 0 5px 10px 5px;
    gap: 10px;
}

.article_image{
    width: 100%;
    height: auto;
}

.article_ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.article_tag{
    background: black;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 90% 100%, 0 100%);
    padding: 1px;
}

.articles_test{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background: linear-gradient(to right, #ffcccc, #cc99ff);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 90% 100%, 0 100%);
}

