.article_outer-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.article_image-wrapper{
    flex: 0 1 auto;
}

.article_text-constrictor{
    display: flex;
    flex-direction: column;
    padding: 0 5px 10px 5px;
    gap: 10px;
}

.article_image{
    width: 100%;
    height: auto;
}

.article_ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.article_tag{
    border: 1px solid black;
    padding: 5px;
}