.search_outer-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
    padding: 40px;
    gap: 20px;
}

.search_cards-container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}
