@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ROOT VARIABLES*/
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #FAFAFA;
  --black: #131313;
}

/*ROOT TYPOGRAPHY*/
html {
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(204, 153, 255, 0.2)) no-repeat fixed;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
