.background_synthwave-grid{
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    background: white;
    background-image: linear-gradient(90deg, transparent 0%, transparent 85%, #cc99ff 90%, transparent 95%), linear-gradient(0deg, transparent 0%, transparent 85%, #cc99ff 90%, transparent 95%);
    background-size: 20px 20px;
    width: 200vw;
    height: 45vh;
    transform: translate3D(0%, 0%, 0) perspective(200px) rotateX(40deg);
    animation-name: slide;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 0 150px #cc99ff;
}

.background_synthwave-sun{
    background: linear-gradient(to bottom, #FFCD47, #cc99ff, #ff1800, #ff1800);
    border-radius: 100%;
    position: absolute;
    width: 310px;
    height: 310px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -68%);
    box-shadow: 0 0 10px #ff1800;
    z-index: -1;
    animation: bob 20s linear infinite;
}

@keyframes bob {
    0%   {
        top: 70%;
        box-shadow: 0 0 50px rgba(255, 24, 0, 0.5);

    }
    30%   {
        top: 70%;
        box-shadow: 0 0 50px rgba(255, 24, 0, 0.5);

    }
    60%  {
        top: 84%;
        box-shadow: 0 0 400px rgba(255, 24, 0, 0.9);
    }
    80%  {
        top: 84%;
        box-shadow: 0 0 50px rgba(255, 24, 0, 0.5);
    }
    100%  {
        top: 70%;
        box-shadow: 0 0 50px rgba(255, 24, 0, 0.5);
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}


.background_synthwave-sun:after {
    position: absolute;
    content: '';
    width: 100%;
    top: 35%;
    box-shadow: 0 10px 0 0.5px white,
    0 25px 0 1px white,
    0 40px 0 1.5px white,
    0 60px 0 2px white
}

.background_synthwave-grid:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {background-position: 0% 0%;}
    100% {background-position: 0% 100%;}
}
.background_synthwave-mountain-one{
    position: absolute;
    z-index: -1;
    width: 1200px;
    height: 400px;
    background: linear-gradient(to bottom, #cc99ff, #cc99ff, #6A72D9);
    top: 30%;
    left: -10%;
    clip-path: polygon(36% 44%, 56% 78%, 74% 64%, 86% 79%, 97% 85%, 100% 100%, 0 100%, 13% 80%);
}

.background_synthwave-mountain-two {
    position: absolute;
    z-index: -2;
    width: 600px;
    height: 400px;
    background: linear-gradient(to bottom, #ffcccc, #ffcccc, #cc99ff);
    top: 27%;
    left: 60%;
    clip-path: polygon(33% 57%, 53% 71%, 71% 61%, 88% 83%, 100% 100%, 85% 100%, 15% 100%, 0 100%);
}

.background_synthwave-mountain-three {
    position: absolute;
    z-index: -2;
    width: 600px;
    height: 400px;
    background: linear-gradient(to bottom, #ffcccc, #ffcccc, #cc99ff);
    top: 30%;
    left: 5%;
    clip-path: polygon(33% 57%, 53% 71%, 71% 61%, 88% 83%, 100% 100%, 85% 100%, 15% 100%, 0 100%);
}

.background_synthwave-mountain-four{
    position: absolute;
    z-index: -2;
    width: 1000px;
    height: 400px;
    background: linear-gradient(to bottom, #cc99ff, #cc99ff, #6A72D9);
    top: 30%;
    left: 45%;
    clip-path: polygon(36% 44%, 56% 78%, 74% 64%, 86% 79%, 97% 85%, 100% 100%, 0 100%, 13% 80%);
}

.background_synthwave-mountain-five{
    position: absolute;
    z-index: -1;
    width: 700px;
    height: 500px;
    background: linear-gradient(to bottom, #6A72D9, #6A72D9, #484e9b);
    top: 22%;
    left: 5%;
    clip-path: polygon(40% 58%, 55% 74%, 76% 68%, 86% 79%, 97% 85%, 100% 100%, 0 100%, 13% 80%);
}

.background_synthwave-mountain-six{
    position: absolute;
    transform: scaleX(-1);
    z-index: -1;
    width: 700px;
    height: 500px;
    background: linear-gradient(to bottom, #6A72D9, #6A72D9, #484e9b);
    top: 22%;
    left: 65%;
    clip-path: polygon(40% 58%, 55% 74%, 76% 68%, 86% 79%, 97% 85%, 100% 100%, 0 100%, 13% 80%);
}

@media screen and (max-width: 567px){
    .background_synthwave-mountain-one{
        left: 5%;
    }
    .background_synthwave-mountain-two{
        left: -25%;
    }
    .background_synthwave-mountain-three{
        visibility: hidden;
    }
    .background_synthwave-mountain-four{
        visibility: hidden;
    }
    .background_synthwave-mountain-five{
        visibility: hidden;
    }
    .background_synthwave-mountain-six{
        left: 25%;
    }
}